---
layout: page
# Projects page to show each project_name as a category
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}
{% assign project_names = '' | split: '' %}

<!-- Ensure Project category exists and then get all the categories related to projects -->
{% if site.categories.Project %}
  {% assign projects_categories = site.categories.Project %}

  <!-- Extract unique project names from project categories -->
  {% for post in projects_categories %}
    {% assign project_name = post.categories[1] %}
    {% if project_name %}
      {% unless project_names contains project_name %}
        {% assign project_names = project_names | push: project_name %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  <!-- Sort project names -->
  {% assign project_names = project_names | sort %}

  <!-- Display each project name as a top-category -->
  {% for project_name in project_names %}
    {% assign posts_of_project = site.categories | where_exp: "category", "category contains project_name" %}

    <div class="card categories">
      <!-- project_name as top-category -->
      <div
        id="{{ HEAD_PREFIX }}{{ group_index }}"
        class="card-header d-flex justify-content-between hide-border-bottom"
      >
        <span class="ms-2">
          <i class="far fa-folder-open fa-fw"></i>

          {% capture _project_url %}/categories/{{ project_name | slugify | url_encode }}/{% endcapture %}
          <a href="{{ _project_url | relative_url }}" class="mx-2">{{ project_name }}</a>

          <!-- content count -->
          {% assign project_posts_size = site.categories[project_name] | size %}
          <span class="text-muted small font-weight-light">
            {{ project_posts_size }}
            {% if project_posts_size > 1 %}
              {{
                site.data.locales[lang].categories.post_measure.plural
                | default: site.data.locales[lang].categories.post_measure
              }}
            {% else %}
              {{
                site.data.locales[lang].categories.post_measure.singular
                | default: site.data.locales[lang].categories.post_measure
              }}
            {% endif %}
          </span>
        </span>

        <!-- arrow -->
        <span data-bs-toggle="collapse" class="category-trigger hide-border-bottom disabled">
          <i class="fas fa-fw fa-angle-right"></i>
        </span>
      </div>
      <!-- .card-header -->
    </div>
    <!-- .card -->
    {% assign group_index = group_index | plus: 1 %}
  {% endfor %}
{% else %}
  <p>No projects found.</p>
{% endif %}